In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os
from pandasql import sqldf

from scipy.stats import pearsonr

makeQuery = lambda q: sqldf(q, globals())

In [2]:
os.listdir('./data/data_files')

['regions_hcps.csv',
 'region_features',
 'total_sales_per_region.csv',
 'rtes.csv',
 'time_features',
 'sales_test_splitted.csv',
 'sales_train.csv',
 'submissions',
 'rtes_brand_2.csv',
 'train_validation_split_10.json',
 'sales_train_splitted.csv',
 'rtes_brand_1.csv',
 'activity.csv',
 'rtes_cleaned.csv',
 'hcps.csv',
 'regions.csv',
 'train_validation_split_5.json']

In [3]:
regions = pd.read_csv('./data/data_files/regions.csv')
hcps = pd.read_csv('./data/data_files/hcps.csv')
activity = pd.read_csv('./data/data_files/activity.csv')
salesTrain = pd.read_csv('./data/data_files/sales_train.csv')
rtes = pd.read_csv('./data/data_files/rtes.csv')
regionHcps = pd.read_csv('./data/data_files/regions_hcps.csv')
regions.shape, hcps.shape, activity.shape, salesTrain.shape, rtes.shape, regionHcps.shape

((201, 5), (4939, 4), (53938, 7), (18100, 4), (41668, 11), (201, 9))

regions.tail()

hcps.head()

hcps[hcps['hcp'] == 307]

len(set(hcps.hcp.values.tolist())), hcps.shape

activity.head()

set(activity.channel.values.tolist())

activity.groupby('hcp').count().sort_values('specialty', ascending=False)

activity[activity['hcp'] == 32137]

activity[activity['region'] == 'region_164']

salesTrain.head(n=10)

# clean sales data for march 2020 --> we cannot expect covid situation to repeat --> take average of february and april
brand3Sales = salesTrain[salesTrain['brand'] == 'brand_3_market']

fig, ax = plt.subplots(nrows=4, ncols=4, sharex=True, sharey=True, figsize=(8,8))
for i in range(4): 
    for j in range(4): 
        data = brand3Sales[brand3Sales['region'] == 'region_{}'.format(i*4 + j)]
        ax[i, j].plot(data['month'].values, data['sales'].values)
    
plt.show()

data

for region in set(salesTrain.region.values.tolist()): 
    for brand in set(salesTrain.brand.values.tolist()):
        if int(region.split('_')[1]) > 150 and int(brand.split('_')[1]) in [1, 2]: 
            continue
        febIndex = salesTrain[salesTrain['brand'] == brand][salesTrain['region'] == region][salesTrain['month'] == '2020-02'].index
        aprIndex = salesTrain[salesTrain['brand'] == brand][salesTrain['region'] == region][salesTrain['month'] == '2020-04'].index
        marIndex = salesTrain[salesTrain['brand'] == brand][salesTrain['region'] == region][salesTrain['month'] == '2020-03'].index
        salesTrain.at[marIndex.values[0], 'sales'] = (salesTrain.at[febIndex.values[0], 'sales'] + salesTrain.at[aprIndex.values[0], 'sales']) / 2

brand3Sales = salesTrain[salesTrain['brand'] == 'brand_3_market']

fig, ax = plt.subplots(nrows=4, ncols=4, sharex=True, sharey=True, figsize=(8,8))
for i in range(4): 
    for j in range(4): 
        data = brand3Sales[brand3Sales['region'] == 'region_{}'.format(i*4 + j)]
        ax[i, j].plot(data['month'].values, data['sales'].values)
    
plt.show()

salesTest = salesTrain[salesTrain['region'].apply(lambda x: int(x.split('_')[1]) > 150)]
salesTest.shape, salesTrain.shape

salesTest.head()

salesTrain.drop(salesTest.index, inplace=True, axis=0)

salesTrain.to_csv('./data/data_files/sales_train_splitted.csv')
salesTest.to_csv('./data/data_files/sales_test_splitted.csv')

rtes.head()

set(rtes.email_type.values.tolist())

regionHcps.head()

regions.all()

hcps.all()

activity.all()

salesTrain.all()

rtes.all()

regionHcps.all()

regionHcpsTransformed = pd.concat([regions.set_index('region', drop=True).drop(['area', 'pci16', 'pci18'], axis=1), 
                                   regionHcps.set_index('region', drop=True)], axis=1)
regionHcpsTransformed.shape

regionHcpsTransformed.head()

# regionHcpAll = pd.concat([regionHcpsTransformed, hcps.set_index('region', drop=True)], axis=1)
regionHcpAll = regionHcpsTransformed.merge(hcps, how='inner',  right_on='region', left_index=True)
regionHcpAll.set_index('hcp', drop=False, inplace=True)
regionHcpAll.sort_index(inplace=True)
regionHcpAll.shape

regionHcpAll.head()

regionHcpAll.reset_index(drop=True, inplace=True)

regionHcpAll.rename(columns={c: c.replace(' ', '_') for c in regionHcpAll.columns}, inplace=True)

regionHcpAll.to_csv('./data/data_files/region_hcp_joined.csv')

### Analyse hcp

query = """
SELECT 
    region, 
    tier,
    COUNT(hcp) AS hcp_count
    
FROM regionHcpAll
GROUP BY region, tier
"""
makeQuery(query)

query = """
SELECT specialty, COUNT(hcp) AS hcp_count
FROM hcps
GROUP BY specialty
"""
hcp_per_specialty = makeQuery(query)
hcp_per_specialty

query = """
SELECT 
    regions.region, 
    population, 
    area, 
    pci16, 
    pci18, 
    hcp_count, 
    hcp_count/area AS hcp_density, 
    population/area AS population_density, 
    hcp_count / (population/area) AS hcp_per_population_density
FROM (
    SELECT region, COUNT(hcp) AS hcp_count
    FROM hcps
    GROUP BY region 
    ) AS hcp_per_region
INNER JOIN regions
ON regions.region = hcp_per_region.region
"""
hcp_count = makeQuery(query)
hcp_count

hcp_count.plot.scatter(x='area', y='hcp_count')

hcp_count.plot.scatter(x='population_density', y='hcp_count')

hcp_count.plot.scatter(x='population', y='hcp_count')

### Analyse total sales

query = """
SELECT region, brand, SUM(sales) AS total_sales
FROM salesTrain
GROUP BY region, brand
"""
total_sales_per_region = makeQuery(query)
total_sales_per_region

total_sales_per_region.to_csv('./data/data_files/total_sales_per_region.csv')

query = """
SELECT 
    hcp_count.region, 
    brand, 
    total_sales, 
    population, 
    area, 
    pci16, 
    pci18, 
    hcp_count, 
    hcp_density, 
    population_density, 
    hcp_per_population_density
FROM total_sales_per_region
INNER JOIN hcp_count
ON hcp_count.region = total_sales_per_region.region
"""
hcp_sales_joined = makeQuery(query)

hcp_sales_joined.shape

hcp_sales_joined.head()

brands = set(hcp_sales_joined.brand.values.tolist())
brands

for value in set(hcp_sales_joined.brand.values.tolist()): 
    hcp_sales_joined[hcp_sales_joined['brand'] == value].plot.scatter(x='hcp_per_population_density', y='total_sales')
    plt.title(value)

for value in set(hcp_sales_joined.brand.values.tolist()): 
    hcp_sales_joined[hcp_sales_joined['brand'] == value].plot.scatter(x='population_density', y='total_sales')
    plt.title(value)

for value in set(hcp_sales_joined.brand.values.tolist()): 
    hcp_sales_joined[hcp_sales_joined['brand'] == value].plot.scatter(x='hcp_density', y='total_sales')
    plt.title(value)

for value in set(hcp_sales_joined.brand.values.tolist()): 
    hcp_sales_joined[hcp_sales_joined['brand'] == value].plot.scatter(x='hcp_count', y='total_sales')
    plt.title(value)

transformedData = {}
for brand in brands: 
    query = """
    SELECT 
        region,
        total_sales / area AS sales_per_area, 
        total_sales / population AS sales_per_population, 
        total_sales / population_density AS sales_per_population_density, 
        total_sales / hcp_count AS sales_per_hcp, 
        total_sales / hcp_density AS sales_per_hcp_density, 
        total_sales / hcp_per_population_density AS sales_per_hcp_pop_density, 
        hcp_count, 
        hcp_density, 
        hcp_per_population_density, 
        area, 
        population
    FROM hcp_sales_joined
    WHERE brand = '{brand}'
    """.format(brand=brand)
    salesTransformed = makeQuery(query)
    transformedData[brand] = salesTransformed

transformedData['brand_3'].head()

for brand in brands: 
    temp = pd.DataFrame(1/transformedData[brand]['hcp_count'], columns=['hcp_count'])
    temp['sales_per_hcp'] = transformedData[brand]['sales_per_hcp']
    temp.plot.scatter(x='hcp_count', y='sales_per_hcp')
    plt.title(brand)

for brand in brands: 
    temp = pd.DataFrame(1/transformedData[brand]['hcp_density'], columns=['hcp_density'])
    temp['sales_per_hcp'] = transformedData[brand]['sales_per_hcp']
    temp.plot.scatter(x='hcp_density', y='sales_per_hcp')
    # transformedData[brand].plot.scatter(x='hcp_density', y='sales_per_hcp')
    plt.title(brand)

for brand in brands: 
    temp = pd.DataFrame(1/transformedData[brand]['hcp_per_population_density'], columns=['hcp_per_population_density'])
    temp['sales_per_hcp'] = transformedData[brand]['sales_per_hcp']
    temp.plot.scatter(x='hcp_per_population_density', y='sales_per_hcp')
    #transformedData[brand].plot.scatter(x='hcp_per_population_density', y='sales_per_hcp')
    plt.title(brand)

### Analyse rte

In [4]:
rtes.head(n=25)

,hcp,specialty,region,brand,email_type,content_id,no. openings,no. clicks,time_sent,time_last_opened,time_last_clicked
0,58555,General practicioner,region_0,brand_1,general,a3D6f0000019jMvEAI,1,0,2021-03-02 08:42:00,2021-03-02 08:45:00,NaN
1,819,General practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 11:58:00,NaN,NaN
2,819,General practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,1,0,2020-08-17 14:47:00,2020-08-17 23:16:00,NaN
3,819,General practicioner,region_1,brand_1,product_related,a3D6f000000MtZ3EAK,0,0,2020-09-03 16:08:00,NaN,NaN
4,819,General practicioner,region_1,brand_1,general,a3D6f000000N0nhEAC,1,0,2020-10-16 13:35:00,2020-10-16 22:39:00,NaN
5,819,General practicioner,region_1,brand_1,general,a3D6f0000019jMvEAI,0,0,2020-12-14 12:06:00,NaN,NaN
6,4005,General practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 15:15:00,NaN,NaN
7,4005,General practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,1,0,2020-08-17 14:59:00,2020-08-17 15:58:00,NaN
8,4005,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-03 06:22:00,NaN,NaN
9,4005,General practicioner,region_1,brand_1,general,a3D6f0000019jMvEAI,0,0,2020-11-09 22:24:00,NaN,NaN
10,4887,General practicioner,region_1,brand_1,product_related,NaN,2,0,2020-09-07 11:21:00,2020-09-18 20:47:00,NaN
11,4887,General practicioner,region_1,brand_1,general,a3D6f0000019jMvEAI,1,0,2020-11-19 09:46:00,2020-11-29 16:26:00,NaN
12,9113,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-06 16:10:00,NaN,NaN
13,10003,General practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,1,0,2020-07-16 16:05:00,2020-07-17 07:08:00,NaN
14,10003,General practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,0,0,2020-08-17 15:47:00,NaN,NaN
15,10003,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-04 03:27:00,NaN,NaN
16,11885,General practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 16:03:00,NaN,NaN
17,11885,General practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,1,0,2020-08-17 15:45:00,2020-08-17 18:27:00,NaN
18,11885,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",1,0,2020-09-04 03:27:00,2020-09-04 07:34:00,NaN
19,13228,Internal medicine,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 15:46:00,NaN,NaN
20,13228,Internal medicine,region_1,brand_2,general,a3D6f0000019jSnEAI,1,0,2020-08-17 15:36:00,2020-08-17 17:02:00,NaN
21,13228,Internal medicine,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-04 03:27:00,NaN,NaN
22,13228,Internal medicine,region_1,brand_1,product_related,a3D6f000000MtZ3EAK,0,0,2020-09-04 15:59:00,NaN,NaN
23,14388,Internal medicine and general practicioner,region_1,brand_2,product_related,a3D6f0000019gA2EAI,0,0,2020-07-16 11:46:00,NaN,NaN
24,14388,Internal medicine and general practicioner,region_1,brand_2,general,a3D6f0000019jSnEAI,0,0,2020-08-17 14:37:00,NaN,NaN

In [5]:
len(set(rtes.region.values.tolist())), len(set(rtes.brand.values.tolist()))

(201, 2)

In [6]:
# split content id into separate columns
multiContentColumns = rtes[rtes['content_id'].apply(lambda x: not pd.isna(x) and ',' in x)]
multiContentColumns.shape

(6728, 11)

In [7]:
multiContentColumns.head()

,hcp,specialty,region,brand,email_type,content_id,no. openings,no. clicks,time_sent,time_last_opened,time_last_clicked
8,4005,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-03 06:22:00,NaN,NaN
12,9113,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-06 16:10:00,NaN,NaN
15,10003,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-04 03:27:00,NaN,NaN
18,11885,General practicioner,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",1,0,2020-09-04 03:27:00,2020-09-04 07:34:00,NaN
21,13228,Internal medicine,region_1,brand_1,product_related,"a3D6f0000019jDTEAY,a3D6f000000MtbmEAC",0,0,2020-09-04 03:27:00,NaN,NaN

In [8]:
missingContentColumns = rtes[rtes['content_id'].apply(pd.isna)]
missingContentColumns.shape

(1348, 11)

In [9]:
missingContentColumns.head()

,hcp,specialty,region,brand,email_type,content_id,no. openings,no. clicks,time_sent,time_last_opened,time_last_clicked
10,4887,General practicioner,region_1,brand_1,product_related,NaN,2,0,2020-09-07 11:21:00,2020-09-18 20:47:00,NaN
53,19510,General practicioner,region_1,brand_1,product_related,NaN,0,0,2020-09-04 16:12:00,NaN,NaN
87,25273,General practicioner,region_1,brand_1,product_related,NaN,5,0,2021-06-10 10:40:00,2021-06-12 14:02:00,NaN
105,28364,General practicioner,region_1,brand_1,product_related,NaN,7,0,2020-09-04 15:37:00,2020-09-08 11:26:00,NaN
125,34693,General practicioner,region_1,brand_1,product_related,NaN,1,0,2020-10-14 10:23:00,2020-10-14 10:28:00,NaN

In [10]:
splittedContentColumns = []
for i, row in multiContentColumns.iterrows(): 
    contents = row['content_id'].split(',')
    for content in contents: 
        row['content_id'] = content
        splittedContentColumns.append([v for v in row.values])
        
splittedContentColumns = pd.DataFrame(splittedContentColumns, columns=multiContentColumns.columns)
splittedContentColumns.head()

,hcp,specialty,region,brand,email_type,content_id,no. openings,no. clicks,time_sent,time_last_opened,time_last_clicked
0,4005,General practicioner,region_1,brand_1,product_related,a3D6f0000019jDTEAY,0,0,2020-09-03 06:22:00,NaN,NaN
1,4005,General practicioner,region_1,brand_1,product_related,a3D6f000000MtbmEAC,0,0,2020-09-03 06:22:00,NaN,NaN
2,9113,General practicioner,region_1,brand_1,product_related,a3D6f0000019jDTEAY,0,0,2020-09-06 16:10:00,NaN,NaN
3,9113,General practicioner,region_1,brand_1,product_related,a3D6f000000MtbmEAC,0,0,2020-09-06 16:10:00,NaN,NaN
4,10003,General practicioner,region_1,brand_1,product_related,a3D6f0000019jDTEAY,0,0,2020-09-04 03:27:00,NaN,NaN

In [11]:
print(rtes.shape)
rtes.drop(multiContentColumns.index, axis=0, inplace=True)
print(rtes.shape)
rtes = pd.concat([rtes, splittedContentColumns], axis=0)
rtes.reset_index(drop=True, inplace=True)
print(rtes.shape)

(41668, 11)
(34940, 11)
(50435, 11)

In [12]:
rtes.dropna(axis=0, inplace=True, subset=['content_id'])
print(rtes.shape)

(49087, 11)

rtes.to_csv('./data/data_files/rtes_cleaned.csv')

In [13]:
brands = set(rtes['brand'].values.tolist())
brands

{'brand_1', 'brand_2'}

for brand in brands: 
    rtes[rtes['brand'] == brand].to_csv('./data/data_files/rtes_{}.csv'.format(brand))

In [14]:
rte_per_brand = {brand: rtes[rtes['brand'] == brand] for brand in brands}
for brand, rte in rte_per_brand.items(): 
    print(brand, rte.shape)

brand_1 (39134, 11)
brand_2 (9953, 11)

### Analyse timing of rte on response rate

In [15]:
for timeColumn in ['time_sent', 'time_last_opened', 'time_last_clicked']: 
    rtes[timeColumn] = pd.to_datetime(rtes[timeColumn])

rtes['hour_sent'] = rtes['time_sent'].apply(lambda x: x.hour)

rtes['day_sent'] = rtes['time_sent'].apply(lambda x: x.day)

groupedByHour = rtes.groupby('hour_sent').agg({
    'hcp': 'count', 
    'no. openings': 'sum',
    'no. clicks': 'sum', 
})
groupedByHour

groupedByHour.reset_index(drop=False, inplace=True)
groupedByHour.rename(columns={'hcp': 'mails_sent'}, inplace=True)
groupedByHour

for c in groupedByHour.columns: 
    if c == 'hour_sent': 
        continue
    groupedByHour.plot.bar(x='hour_sent', y=c)

groupedByHour[['mails_sent', 'no. openings', 'no. clicks']].corr()

groupedByHour['openingsPerMail'] = groupedByHour['no. openings'] / groupedByHour['mails_sent']
groupedByHour['clicksPerMail'] = groupedByHour['no. clicks'] / groupedByHour['mails_sent']
for c in ['openingsPerMail', 'clicksPerMail']: 
    groupedByHour.plot.bar(x='hour_sent', y=c)

groupedByDay = rtes.groupby('day_sent').agg({
    'hcp': 'count', 
    'no. openings': 'sum',
    'no. clicks': 'sum', 
})
groupedByDay

groupedByDay.reset_index(drop=False, inplace=True)
groupedByDay.rename(columns={'hcp': 'mails_sent'}, inplace=True)

for c in groupedByDay.columns: 
    if c == 'day_sent': 
        continue
    groupedByDay.plot.bar(x='day_sent', y=c)

groupedByDay[['mails_sent', 'no. openings', 'no. clicks']].corr()

groupedByDay['openingsPerMail'] = groupedByDay['no. openings'] / groupedByDay['mails_sent']
groupedByDay['clicksPerMail'] = groupedByDay['no. clicks'] / groupedByDay['mails_sent']
for c in ['openingsPerMail', 'clicksPerMail']: 
    groupedByDay.plot.bar(x='day_sent', y=c)

rtes['weekday_sent'] = rtes['time_sent'].apply(lambda x: x.weekday())

groupedByWeekDay = rtes.groupby('weekday_sent').agg({
    'hcp': 'count', 
    'no. openings': 'sum',
    'no. clicks': 'sum', 
})
groupedByWeekDay

groupedByWeekDay.reset_index(drop=False, inplace=True)
groupedByWeekDay.rename(columns={'hcp': 'mails_sent'}, inplace=True)

for c in groupedByWeekDay.columns: 
    if c == 'weekday_sent': 
        continue
    groupedByWeekDay.plot.bar(x='weekday_sent', y=c)

groupedByWeekDay['openingsPerMail'] = groupedByWeekDay['no. openings'] / groupedByWeekDay['mails_sent']
groupedByWeekDay['clicksPerMail'] = groupedByWeekDay['no. clicks'] / groupedByWeekDay['mails_sent']
for c in ['openingsPerMail', 'clicksPerMail']: 
    groupedByWeekDay.plot.bar(x='weekday_sent', y=c)

meanOpeningsPerMail = groupedByWeekDay['openingsPerMail'].mean()
meanClicksPerMail = groupedByWeekDay['clicksPerMail'].mean()
stdOpeningsPerMail = groupedByWeekDay['openingsPerMail'].std()
stdClicksPerMail = groupedByWeekDay['clicksPerMail'].std()

fig, ax = plt.subplots()
ax.bar(groupedByWeekDay['weekday_sent'].values, groupedByWeekDay['openingsPerMail'].values)

ax.plot([0, 6], [meanOpeningsPerMail, meanOpeningsPerMail], "r--")
ax.plot([0, 6], [meanOpeningsPerMail+stdOpeningsPerMail, meanOpeningsPerMail+stdOpeningsPerMail], 'g--')
ax.plot([0, 6], [meanOpeningsPerMail-stdOpeningsPerMail, meanOpeningsPerMail-stdOpeningsPerMail], 'g--')
plt.show()

fig, ax = plt.subplots()
ax.bar(groupedByWeekDay['weekday_sent'].values, groupedByWeekDay['clicksPerMail'].values)

ax.plot([0, 6], [meanClicksPerMail, meanClicksPerMail], "r--")
ax.plot([0, 6], [meanClicksPerMail+stdClicksPerMail, meanClicksPerMail+stdClicksPerMail], 'g--')
ax.plot([0, 6], [meanClicksPerMail-stdClicksPerMail, meanClicksPerMail-stdClicksPerMail], 'g--')
plt.show()

meanOpeningsPerMail = groupedByHour['openingsPerMail'].mean()
meanClicksPerMail = groupedByHour['clicksPerMail'].mean()
stdOpeningsPerMail = groupedByHour['openingsPerMail'].std()
stdClicksPerMail = groupedByHour['clicksPerMail'].std()

fig, ax = plt.subplots()
ax.bar(groupedByHour['hour_sent'].values, groupedByHour['openingsPerMail'].values)

ax.plot([0, 23], [meanOpeningsPerMail, meanOpeningsPerMail], "r--")
ax.plot([0, 23], [meanOpeningsPerMail+stdOpeningsPerMail, meanOpeningsPerMail+stdOpeningsPerMail], 'g--')
ax.plot([0, 23], [meanOpeningsPerMail-stdOpeningsPerMail, meanOpeningsPerMail-stdOpeningsPerMail], 'g--')
plt.show()

fig, ax = plt.subplots()
ax.bar(groupedByHour['hour_sent'].values, groupedByHour['clicksPerMail'].values)

ax.plot([0, 23], [meanClicksPerMail, meanClicksPerMail], "r--")
ax.plot([0, 23], [meanClicksPerMail+stdClicksPerMail, meanClicksPerMail+stdClicksPerMail], 'g--')
ax.plot([0, 23], [meanClicksPerMail-stdClicksPerMail, meanClicksPerMail-stdClicksPerMail], 'g--')
plt.show()

### Response rate per specialty

groupedBySpecialty = rtes.groupby('specialty').agg({
    'hcp': 'count', 
    'no. openings': 'sum',
    'no. clicks': 'sum', 
})
groupedBySpecialty.reset_index(drop=False, inplace=True)
groupedBySpecialty.rename(columns={'hcp': 'mails_sent'}, inplace=True)
groupedBySpecialty['openingsPerMail'] = groupedBySpecialty['no. openings'] / groupedBySpecialty['mails_sent']
groupedBySpecialty['clicksPerMail'] = groupedBySpecialty['no. clicks'] / groupedBySpecialty['mails_sent']
groupedBySpecialty

set(rtes[rtes['specialty'] == 'Pediatrician'].region.values.tolist())

specialtyCount = hcps.groupby('specialty').agg({'hcp': 'count'})
specialtyCount.rename(columns={'hcp': 'hcp_count'}, inplace=True)
specialtyCount

merged = pd.concat([specialtyCount, groupedBySpecialty.set_index('specialty', drop=False)], axis=1)
merged.reset_index(drop=True, inplace=True)
merged['mailsPerHcp'] = merged['mails_sent']/merged['hcp_count']
merged

for c in ['openingsPerMail', 'clicksPerMail']: 
    merged.plot.bar(x='specialty', y=c)

merged.plot.scatter(x='mailsPerHcp', y='openingsPerMail')

merged.plot.scatter(x='mailsPerHcp', y='clicksPerMail')

query = """
SELECT 
    specialty, 
    COUNT(*) AS content_count, 
    COUNT(DISTINCT content_id) AS uniqueContentCount
FROM rtes
GROUP BY specialty
"""
contentDiversity = makeQuery(query)
contentDiversity

merged = pd.concat([merged.set_index('specialty', drop=False), 
                    contentDiversity.set_index('specialty', drop=True)], 
                  axis=1)
merged.reset_index(drop=True, inplace=True)
merged

### Does the response rate per region / per specialty correlate with sales?

In [16]:
rtes.rename(columns={'no. openings': 'nr_openings', 'no. clicks': 'nr_clicks'}, inplace=True)

query = """
SELECT
    grouped_by_region.region, 
    mails_sent, 
    nr_openings, 
    nr_clicks, 
    content_count, 
    unique_content_count, 
    hcp_count,
    nr_openings / mails_sent AS openings_per_mail, 
    nr_clicks / mails_sent AS clicks_per_mail, 
    mails_sent / hcp_count AS mails_per_hcp
FROM (
    SELECT 
        region,
        specialty,
        CAST(COUNT(*)AS real) AS mails_sent , 
        CAST(SUM(nr_openings) AS real) AS nr_openings, 
        CAST(SUM(nr_clicks) AS real) AS nr_clicks, 
        COUNT(content_id) AS content_count, 
        COUNT(DISTINCT content_id) AS unique_content_count
    FROM rtes
    GROUP BY region
    ) AS grouped_by_region
INNER JOIN (
    SELECT 
        region,
        COUNT(*) AS hcp_count
    FROM hcps
    GROUP BY region
    ) AS hcp_per_region_count
ON hcp_per_region_count.region = grouped_by_region.region
"""
grouped_by_region = makeQuery(query)
grouped_by_region.tail()

grouped_by_region[grouped_by_region['region'] == 'region_169']

grouped_by_region.shape

pearsonr(grouped_by_region.mails_sent.values, grouped_by_region.openings_per_mail.values)

pearsonr(grouped_by_region.mails_sent.values, grouped_by_region.clicks_per_mail.values)

pearsonr(grouped_by_region.unique_content_count.values, grouped_by_region.openings_per_mail.values)

pearsonr(grouped_by_region.unique_content_count.values, grouped_by_region.clicks_per_mail.values)

grouped_by_region.plot.scatter(x='mails_sent', y='openings_per_mail')
grouped_by_region.plot.scatter(x='mails_sent', y='clicks_per_mail')
grouped_by_region.plot.scatter(x='unique_content_count', y='openings_per_mail')
grouped_by_region.plot.scatter(x='unique_content_count', y='clicks_per_mail')

grouped_by_region.plot.scatter(x='content_count', y='openings_per_mail')
grouped_by_region.plot.scatter(x='content_count', y='clicks_per_mail')

pearsonr(grouped_by_region.content_count.values, grouped_by_region.clicks_per_mail.values)

pearsonr(grouped_by_region.content_count.values, grouped_by_region.openings_per_mail.values)

query = """
SELECT *
FROM (
    SELECT 
        region, 
        SUM(sales) AS total_sales
    FROM salesTrain
    WHERE brand = 'brand_1' OR brand = 'brand_2'
    GROUP BY region ) AS sales_per_region
INNER JOIN grouped_by_region
ON sales_per_region.region = grouped_by_region.region
"""
totalSales = makeQuery(query)

totalSales.head()

totalSales.plot.scatter(x='mails_sent', y='total_sales')
totalSales.plot.scatter(x='nr_openings', y='total_sales')
totalSales.plot.scatter(x='nr_clicks', y='total_sales')
totalSales.plot.scatter(x='content_count', y='total_sales')
totalSales.plot.scatter(x='unique_content_count', y='total_sales')
totalSales.plot.scatter(x='hcp_count', y='total_sales')
totalSales.plot.scatter(x='openings_per_mail', y='total_sales')
totalSales.plot.scatter(x='clicks_per_mail', y='total_sales')
totalSales.plot.scatter(x='mails_per_hcp', y='total_sales')

for c in ['mails_sent', 'nr_openings', 'nr_clicks', 'content_count', 'unique_content_count', 'hcp_count', 
         'openings_per_mail', 'clicks_per_mail', 'mails_per_hcp']: 
    print(c, round(pearsonr(totalSales[c].values, totalSales['total_sales'].values)[0], 3))

dataPerSpecialty = {}
brand = 'brand_1'
for specialty in set(hcps.specialty.values.tolist()): 
    query = """
    SELECT 
        sales_per_region.region, 
        total_sales, 
        mails_sent, 
        nr_openings, 
        nr_clicks, 
        content_count, 
        unique_content_count, 
        hcp_count,
        openings_per_mail, 
        clicks_per_mail, 
        mails_per_hcp
    FROM (
        SELECT 
            region, 
            SUM(sales) AS total_sales
        FROM salesTrain
        WHERE brand = '{brand}'
        GROUP BY region ) AS sales_per_region
    LEFT OUTER JOIN (
        SELECT
            grouped_by_region.region, 
            mails_sent, 
            nr_openings, 
            nr_clicks, 
            content_count, 
            unique_content_count, 
            hcp_count,
            nr_openings / mails_sent AS openings_per_mail, 
            nr_clicks / mails_sent AS clicks_per_mail, 
            mails_sent / hcp_count AS mails_per_hcp
        FROM (
            SELECT 
                region,
                specialty,
                CAST(COUNT(*)AS real) AS mails_sent , 
                CAST(SUM(nr_openings) AS real) AS nr_openings, 
                CAST(SUM(nr_clicks) AS real) AS nr_clicks, 
                COUNT(content_id) AS content_count, 
                COUNT(DISTINCT content_id) AS unique_content_count
            FROM rtes
            WHERE specialty = '{specialty}' AND brand = '{brand}'
            GROUP BY region
            ) AS grouped_by_region
        LEFT OUTER JOIN (
            SELECT 
                region,
                COUNT(*) AS hcp_count
            FROM hcps
            WHERE specialty = '{specialty}'
            GROUP BY region
            ) AS hcp_per_region_count
        ON hcp_per_region_count.region = grouped_by_region.region
        ) AS  grouped_by_region
    ON sales_per_region.region = grouped_by_region.region
    """.format(specialty=specialty, brand=brand)
    df = makeQuery(query)
    dataPerSpecialty[specialty] = df

In [18]:
dataPerSpecialty = {}
brand = 'brand_1'
for specialty in set(hcps.specialty.values.tolist()): 
    query = """
    SELECT 
        sales_per_region.region, 
        mails_sent, 
        nr_openings, 
        nr_clicks, 
        content_count, 
        unique_content_count, 
        hcp_count,
        openings_per_mail, 
        clicks_per_mail, 
        mails_per_hcp, 
        -- market_potential
    FROM (
        SELECT 
            region, 
            SUM(sales) AS market_potential
        FROM salesTrain
        WHERE brand = 'brand_12_market'
        GROUP BY region ) AS sales_per_region
    LEFT OUTER JOIN (
        SELECT
            grouped_by_region.region, 
            mails_sent, 
            nr_openings, 
            nr_clicks, 
            content_count, 
            unique_content_count, 
            hcp_count,
            nr_openings / mails_sent AS openings_per_mail, 
            nr_clicks / mails_sent AS clicks_per_mail, 
            mails_sent / hcp_count AS mails_per_hcp
        FROM (
            SELECT 
                region,
                specialty,
                CAST(COUNT(*)AS real) AS mails_sent , 
                CAST(SUM(nr_openings) AS real) AS nr_openings, 
                CAST(SUM(nr_clicks) AS real) AS nr_clicks, 
                COUNT(content_id) AS content_count, 
                COUNT(DISTINCT content_id) AS unique_content_count
            FROM rtes
            WHERE specialty = '{specialty}' AND brand = '{brand}'
            GROUP BY region
            ) AS grouped_by_region
        LEFT OUTER JOIN (
            SELECT 
                region,
                COUNT(*) AS hcp_count
            FROM hcps
            WHERE specialty = '{specialty}'
            GROUP BY region
            ) AS hcp_per_region_count
        ON hcp_per_region_count.region = grouped_by_region.region
        ) AS  grouped_by_region
    ON sales_per_region.region = grouped_by_region.region
    """.format(specialty=specialty, brand=brand)
    df = makeQuery(query)
    dataPerSpecialty[specialty] = df

In [19]:
dataPerSpecialty['Internal medicine']

,region,mails_sent,nr_openings,nr_clicks,content_count,unique_content_count,hcp_count,openings_per_mail,clicks_per_mail,mails_per_hcp,market_potential
0,region_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10666956.92
1,region_1,65.0,49.0,9.0,65.0,11.0,11.0,0.753846,0.138462,5.909091,6803632.80
2,region_10,93.0,36.0,0.0,93.0,19.0,5.0,0.387097,0.000000,18.600000,5437642.05
3,region_100,8.0,17.0,0.0,8.0,3.0,1.0,2.125000,0.000000,8.000000,5342599.84
4,region_101,1.0,1.0,0.0,1.0,1.0,2.0,1.000000,0.000000,0.500000,3954334.49
...,...,...,...,...,...,...,...,...,...,...,...
196,region_95,175.0,130.0,9.0,175.0,20.0,16.0,0.742857,0.051429,10.937500,5409466.07
197,region_96,46.0,36.0,4.0,46.0,8.0,6.0,0.782609,0.086957,7.666667,5974509.31
198,region_97,54.0,38.0,1.0,54.0,10.0,6.0,0.703704,0.018519,9.000000,4901265.54
199,region_98,56.0,34.0,0.0,56.0,2.0,2.0,0.607143,0.000000,28.000000,5386680.46
200,region_99,40.0,26.0,0.0,40.0,2.0,2.0,0.650000,0.000000,20.000000,5618976.22

dataPerSpecialty['Internal medicine']

for key, value in dataPerSpecialty.items(): 
    print(key,value.shape)
    value.fillna(0, inplace=True)

dataPerSpecialty['Pediatrician']

In [20]:
allSpecialties = []
for specialty, data in dataPerSpecialty.items(): 
    #if specialty != 'Pediatrician': 
    #    data.drop('total_sales', axis=1, inplace=True)
    data.fillna(0, inplace=True)
    data.set_index('region', drop=True, inplace=True)
    data.rename(columns={c: '{}_{}'.format(c, specialty) for c in data.columns if c not in ['region', 'total_sales']}, inplace=True)
    allSpecialties.append(data)
    
allSpecialties = pd.concat(allSpecialties, axis=1)
allSpecialties.shape

(201, 50)

In [48]:
viableFeatures = [
    'content_count_Internal medicine / pneumology',
    'mails_sent_Internal medicine / pneumology',
    'unique_content_count_Internal medicine / pneumology',
    'hcp_count_Internal medicine / pneumology',
    'mails_per_hcp_Internal medicine / pneumology',
    'unique_content_count_Internal medicine',
    'content_count_Internal medicine',
    'mails_sent_Internal medicine',
    'content_count_General practicioner',
    'mails_sent_General practicioner',
]
allSpecialties[viableFeatures].to_csv('./data/data_files/region_features/rte_features_{}.csv'.format(brand))

correlations = []
for c in allSpecialties.columns: 
    if c in ['region', 'total_sales']: 
        continue
    corr = round(pearsonr(allSpecialties[c].values, allSpecialties['total_sales'].values)[0], 3)
    correlations.append((c, corr))
    
correlations = pd.DataFrame(correlations, columns=['column', 'correlation'])
correlations.sort_values('correlation', ascending=False, inplace=True)
correlationFiltered = correlations[correlations['correlation'] > 0.25]
selectedFeatures = correlationFiltered[correlationFiltered['column'].apply(lambda x: 'Pediatrician' not in x and 'Internal medicine / General practitioner' not in x)]
selectedFeatures

for c in selectedFeatures['column'].values: 
    allSpecialties.plot.scatter(x=c, y='total_sales')

### Analyse activity with regards to total sales

In [22]:
activity.head()

,hcp,specialty,region,brand,month,channel,count
0,39972,Internal medicine / pneumology,region_61,brand_1,2020-05,video,1
1,64026,General practicioner,region_168,brand_2,2020-05,phone,1
2,27892,Internal medicine,region_26,brand_2,2020-06,phone,1
3,33500,General practicioner,region_26,brand_2,2020-06,phone,1
4,61239,General practicioner,region_26,brand_2,2020-06,phone,1

In [45]:
for c in activity.columns: 
    print(c, len(set(activity[c].values.tolist())))

hcp 15819
specialty 5
region 201
brand 2
month 17
channel 4
count 7

brand = 'brand_1'
specialties = set(activity['specialty'].values.tolist())
channels = set(activity['channel'].values.tolist())
dataPerSpecialty = {}
for specialty in specialties: 
    if specialty in ['Internal medicine and general practicioner', 'Pediatrician']: 
        continue
    query = """
    SELECT
        sales_per_region.region, 
        channel,
        total_sales, 
        activity_count, 
        unique_hcp_count, 
        nr_interactions
    FROM (
        SELECT 
            region, 
            SUM(sales) AS total_sales
        FROM salesTrain
        WHERE brand = '{brand}'
        GROUP BY region 
        ) AS sales_per_region
    LEFT OUTER JOIN (
        SELECT 
            region,
            channel,
            COUNT(hcp) AS activity_count, 
            COUNT(DISTINCT hcp) AS unique_hcp_count, 
            SUM(count) AS nr_interactions
        FROM activity
        WHERE brand = '{brand}' AND specialty = '{specialty}'
        GROUP BY region, channel
        ) AS grouped_activity
    ON grouped_activity.region = sales_per_region.region    
    """.format(brand=brand, specialty=specialty)
    df = makeQuery(query)
    dataPerSpecialty[specialty] = df
    
for key, value in dataPerSpecialty.items(): 
    print(key, value.shape)

brand = 'brand_2'
specialties = set(activity['specialty'].values.tolist())
channels = set(activity['channel'].values.tolist())
dataPerSpecialty = {}
for specialty in specialties: 
    if specialty in ['Internal medicine and general practicioner', 'Pediatrician']: 
        continue
    query = """
    SELECT
        sales_per_region.region, 
        total_sales, 
        activity_count, 
        unique_hcp_count, 
        nr_interactions
    FROM (
        SELECT 
            region, 
            SUM(sales) AS total_sales
        FROM salesTrain
        WHERE brand = '{brand}'
        GROUP BY region 
        ) AS sales_per_region
    LEFT OUTER JOIN (
        SELECT 
            region,
            COUNT(hcp) AS activity_count, 
            COUNT(DISTINCT hcp) AS unique_hcp_count, 
            SUM(count) AS nr_interactions
        FROM activity
        WHERE brand = '{brand}' AND specialty = '{specialty}'
        GROUP BY region
        ) AS grouped_activity
    ON grouped_activity.region = sales_per_region.region    
    """.format(brand=brand, specialty=specialty)
    df = makeQuery(query)
    dataPerSpecialty[specialty] = df
    
for key, value in dataPerSpecialty.items(): 
    print(key, value.shape)

In [56]:
brand = 'brand_2'
specialties = set(activity['specialty'].values.tolist())
channels = set(activity['channel'].values.tolist())
dataPerSpecialty = {}
for specialty in specialties: 
    if specialty in ['Internal medicine and general practicioner', 'Pediatrician']: 
        continue
    query = """
    SELECT
        sales_per_region.region, 
        activity_count, 
        unique_hcp_count, 
        nr_interactions, 
        market_potential
    FROM (
        SELECT 
            region, 
            SUM(sales) AS market_potential
        FROM salesTrain
        WHERE brand = 'brand_12_market'
        GROUP BY region 
        ) AS sales_per_region
    LEFT OUTER JOIN (
        SELECT 
            region,
            COUNT(hcp) AS activity_count, 
            COUNT(DISTINCT hcp) AS unique_hcp_count, 
            SUM(count) AS nr_interactions
        FROM activity
        WHERE brand = '{brand}' AND specialty = '{specialty}'
        GROUP BY region
        ) AS grouped_activity
    ON grouped_activity.region = sales_per_region.region    
    """.format(brand=brand, specialty=specialty)
    df = makeQuery(query)
    dataPerSpecialty[specialty] = df
    
for key, value in dataPerSpecialty.items(): 
    print(key, value.shape)

General practicioner (201, 5)
Internal medicine (201, 5)
Internal medicine / pneumology (201, 5)

In [57]:
dataPerSpecialty['Internal medicine']

,region,activity_count,unique_hcp_count,nr_interactions,market_potential
0,region_0,10.0,9.0,10.0,10666956.92
1,region_1,56.0,19.0,66.0,6803632.80
2,region_10,10.0,8.0,10.0,5437642.05
3,region_100,45.0,22.0,49.0,5342599.84
4,region_101,19.0,13.0,20.0,3954334.49
...,...,...,...,...,...
196,region_95,67.0,38.0,71.0,5409466.07
197,region_96,84.0,30.0,87.0,5974509.31
198,region_97,42.0,25.0,44.0,4901265.54
199,region_98,20.0,14.0,25.0,5386680.46
200,region_99,NaN,NaN,NaN,5618976.22

allData = {}
columnsOfInterest = ['activity_count', 'unique_hcp_count', 'nr_interactions']
for specialty, data in dataPerSpecialty.items(): 
    # complete data
    for channel in channels: 
        rowsToAdd = []
        for i in range(151): 
            region = 'region_{}'.format(i)
            currentRegion = data[data['region'] == region]
            missingChannels = channels - set(currentRegion.channel.values.tolist())
            for channel in missingChannels: 
                rowsToAdd.append([region, channel, currentRegion.at[currentRegion[currentRegion['region'] == region].index.values[0], 'total_sales'], 0, 0, 0])
    data = pd.concat([data, pd.DataFrame(rowsToAdd, columns=data.columns)], axis=0)
    
    # reshape data
    regionData = data.groupby('region').agg({'total_sales': 'first'})
    regionData.reset_index(drop=False, inplace=True)
    newColumns = []
    newColumnNames = []
    for channel in channels: 
        if 'total_sales' in data.columns: 
            data.drop('total_sales', axis=1, inplace=True)
        values = {c: [] for c in columnsOfInterest}
        for i in range(151): 
            region = 'region_{}'.format(i)
            currentRegions = data[data['region'] == region]
            for c in columnsOfInterest: 
                values[c].append(currentRegions[currentRegions['channel'] == channel][c].values[0])
        for c, v in values.items(): 
            newColumns.append(v)
            newColumnNames.append('{}_{}'.format(channel, c))
        
    temp = pd.DataFrame(newColumns).T
    temp.rename(columns={i: newColumnNames[i] for i in range(temp.shape[1])}, inplace=True)
    allData[specialty] = pd.concat([regionData, temp], axis=1)

allData[specialty]

In [58]:
allSpecialties = []
# for specialty, data in allData.items(): 
for specialty, data in dataPerSpecialty.items(): 
    if specialty != 'Internal medicine': 
        data.drop('market_potential', axis=1, inplace=True)
    data.fillna(0, inplace=True)
    data.set_index('region', drop=True, inplace=True)
    data.rename(columns={c: '{}_{}'.format(c, specialty) for c in data.columns if c not in ['region', 'total_sales']}, inplace=True)
    allSpecialties.append(data)
    
allSpecialties = pd.concat(allSpecialties, axis=1)
allSpecialties.shape

(201, 10)

In [59]:
allSpecialties.head()

,activity_count_General practicioner,unique_hcp_count_General practicioner,nr_interactions_General practicioner,activity_count_Internal medicine,unique_hcp_count_Internal medicine,nr_interactions_Internal medicine,market_potential_Internal medicine,activity_count_Internal medicine / pneumology,unique_hcp_count_Internal medicine / pneumology,nr_interactions_Internal medicine / pneumology
region,,,,,,,,,,
region_0,23.0,20.0,23.0,10.0,9.0,10.0,10666956.92,45.0,13.0,65.0
region_1,157.0,66.0,163.0,56.0,19.0,66.0,6803632.80,61.0,7.0,73.0
region_10,23.0,19.0,23.0,10.0,8.0,10.0,5437642.05,3.0,1.0,5.0
region_100,145.0,77.0,151.0,45.0,22.0,49.0,5342599.84,30.0,5.0,43.0
region_101,38.0,28.0,38.0,19.0,13.0,20.0,3954334.49,2.0,1.0,2.0

In [60]:
viableFeatures = [ 
    # brand 1
    #'unique_hcp_count_Internal medicine / pneumology',
    #'activity_count_Internal medicine / pneumology',
    #'nr_interactions_Internal medicine / pneumology',
    #'unique_hcp_count_Internal medicine',
    #'activity_count_Internal medicine',
    #'nr_interactions_Internal medicine',
    #'market_potential_Internal medicine',
    
    # brand 2
    'activity_count_Internal medicine / pneumology',
    'unique_hcp_count_Internal medicine / pneumology',
    'activity_count_Internal medicine',
    'nr_interactions_Internal medicine',
    'nr_interactions_Internal medicine / pneumology',
    'nr_interactions_General practicioner',
    'activity_count_General practicioner',
    'unique_hcp_count_General practicioner',
    'unique_hcp_count_Internal medicine',
    'market_potential_Internal medicine',
]
allSpecialties[viableFeatures].to_csv('./data/data_files/region_features/activity_features_{}.csv'.format(brand))

correlations = []
for c in allSpecialties.columns: 
    if c in ['region', 'total_sales']: 
        continue
    corr = round(pearsonr(allSpecialties[c].values, allSpecialties['total_sales'].values)[0], 3)
    correlations.append((c, corr))
    
correlations = pd.DataFrame(correlations, columns=['column', 'correlation'])
correlations.sort_values('correlation', ascending=False, inplace=True)
correlationFiltered = correlations[correlations['correlation'].abs() > 0.10]
correlationFiltered

for c in correlationFiltered['column'].values: 
    allSpecialties.plot.scatter(x=c, y='total_sales')

### Make region dataset

In [61]:
regions = pd.read_csv('./data/data_files/regions.csv')
regionHcps = pd.read_csv('./data/data_files/regions_hcps.csv')
regions.set_index('region', inplace=True, drop=True)
regionHcps.set_index('region', inplace=True, drop=True)

brands = ['brand_1', 'brand_2']
brandData = {}
for brand in brands: 
    datasets = [regions, regionHcps]
    if os.path.isfile('./data/data_files/region_features/activity_features_{}.csv'.format(brand)): 
        df = pd.read_csv('./data/data_files/region_features/activity_features_{}.csv'.format(brand), 
                                   index_col=0)
        # df.set_index('region', inplace=True, drop=True)
        datasets.append(df)
        
    if os.path.isfile('./data/data_files/region_features/rte_features_{}.csv'.format(brand)): 
        df = pd.read_csv('./data/data_files/region_features/rte_features_{}.csv'.format(brand), 
                                   index_col=0)
        # df.set_index('region', inplace=True, drop=True)
        datasets.append(df)
        
    df = pd.concat(datasets, axis=1)
    print(brand, df.shape)
    brandData[brand] = df.loc[:, ~df.columns.duplicated()]

brand_1 (201, 29)
brand_2 (201, 22)

In [62]:
brandData['brand_2'].tail()

,population,area,pci16,pci18,Internal medicine,Internal medicine / pneumology,General practicioner,Internal medicine and general practicioner,Pediatrician,activity_count_Internal medicine / pneumology,unique_hcp_count_Internal medicine / pneumology,activity_count_Internal medicine,nr_interactions_Internal medicine,nr_interactions_Internal medicine / pneumology,nr_interactions_General practicioner,activity_count_General practicioner,unique_hcp_count_General practicioner,unique_hcp_count_Internal medicine,market_potential_Internal medicine
region,,,,,,,,,,,,,,,,,,,
region_196,488935,4383.308467,47628.428064,50590.455429,204,5,326,3,52,24.0,5.0,59.0,61.0,30.0,153.0,129.0,56.0,34.0,5666663.62
region_197,367538,6688.080642,41370.782569,44005.413325,212,8,279,0,34,9.0,4.0,3.0,3.0,12.0,12.0,11.0,8.0,2.0,4152148.78
region_198,374756,6500.068131,43452.297389,45337.580895,182,8,228,12,25,25.0,6.0,29.0,29.0,29.0,112.0,111.0,49.0,13.0,5601796.70
region_199,319660,2309.103167,40976.821501,42691.767247,124,5,170,2,30,36.0,5.0,16.0,16.0,41.0,28.0,27.0,18.0,10.0,6112388.64
region_200,395114,2598.725436,44282.292557,46215.140591,269,4,239,25,57,16.0,3.0,50.0,55.0,18.0,238.0,201.0,105.0,30.0,6644712.06

In [63]:
for brand in brands: 
    df = brandData[brand]
    train = df.loc[['region_{}'.format(i) for i in range(151)], :]
    test = df.loc[['region_{}'.format(i) for i in range(151, 201)], :]
    print(train.shape, test.shape)
    train.to_csv('./data/data_files/region_features/training_{}.csv'.format(brand))
    test.to_csv('./data/data_files/region_features/test_{}.csv'.format(brand))

(151, 26) (50, 26)
(151, 19) (50, 19)